# Compiled files
*.py[co]
*.a
*.o
*.so
__pycache__

# Sphinx
docs/build

# DB config gfile
dbDetails.yml

# set environmemnt
set_env_db.sh

# Mac users
.DS_Store

telarray_rand.conf*

# Distribution / packaging
build/
*.egg-info/
.egg
