# Local config.yml
config.yml

# Produced files
simtools-files
telarray_rand.conf.used

# Files produced tests
data/test-plots/*
data/test-output/*

# Compiled files
*.py[co]
*.a
*.o
*.so
__pycache__

# Sphinx
docs/build

# DB config gfile
dbDetails.yml