---
repos:
# Ruff
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.0
  hooks:
  - id: ruff
    args: ["--fix"]
  - id: ruff-format
# pylint
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: ^tests/|^simtools/applications/db_development_tools/
    args:
      [
        "-rn",  # Only display messages
        "-sn",  # Don't display the score
      ]
# https://github.com/pre-commit/pre-commit-hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-json
  - id: no-commit-to-branch
    args: [--branch=main]
# https://github.com/HunterMcGushion/docstr_coverage
- repo: https://github.com/HunterMcGushion/docstr_coverage
  rev: v2.3.2  # most recent docstr-coverage release or commit sha
  hooks:
  - id: docstr-coverage
    args: ["--verbose", "2", "--fail-under", "70.", "src/simtools"]
# Github action
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.8
  hooks:
  - id: actionlint
# https://pyproject-fmt.readthedocs.io/en/latest/
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.10.0"
  hooks:
  - id: pyproject-fmt
# codespell
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
# markdownlint
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.45.0
  hooks:
  - id: markdownlint
    args: ["--disable", "MD041"]
    language_version: 22.11.0
# yamllint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    args:
      [
        "--strict",
        "-d",
        '{extends: default, rules: {line-length: {max: 300}, indentation: {spaces: 2, indent-sequences: consistent}, truthy: {allowed-values: ["true", "false", "on", "off"]}}}'
      ]
# towncrier
- repo: https://github.com/twisted/towncrier
  rev: 25.8.0
  hooks:
  - id: towncrier-update
    files: $docs/changes/
    args: ['--keep']
