[MESSAGES CONTROL]
# Disable some specific checks
disable=
    C0103,  # Variable name "..." doesn't conform to snake_case naming style
    C0114,  # Missing module docstring
    E0401,  # Unable to import
    R0902,  # Too many instance attributes
    R0913,  # Too many arguments
    R0914,  # Too many local variables
    W1203,  # Use % formatting in logging functions and pass the % parameters as arguments

[BASIC]
# Maximum line length
max-line-length=100

# Good variable names which should always be accepted, separated by a comma.
good-names=e,
           i,
           j,
           k,
           x,
           y,
           n,
           f,
           r,
           ex,
           db,
           im,
           sh,
           ax,
           ce,
           xx,
           yy,
           zz,

# Naming style matching correct class names.
class-naming-style=PascalCase

# Naming style matching correct method names.
method-naming-style=snake_case

# Naming style matching correct module names.
module-naming-style=snake_case

# Naming style matching correct variable names.
variable-naming-style=snake_case

# Logging style
logging-format-style=new

# Regular expression which should only match function or class names that do
# not require a docstring (especially do not require a docstr for main).
no-docstring-rgx=main

[SIMILARITIES]

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no

# Minimum lines number of a similarity.
min-similarity-lines=4
