---
name: CI-docs
# Build and deploy docs to gh-pages

on:
  pull_request:
    branches: [main]
    types: [opened, closed, synchronize]

jobs:

  docs:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.10.4
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.4

      - name: Python dependencies
        run: |
          python --version
          pip install '.[doc]'

      - name: Build docs
        shell: bash -l {0}
        run: |
          make -C docs/ html
          exit_code=$?
          if [ $exit_code -ne 5 ]; then
            echo "Make command failed with exit code $exit_code"
            exit $exit_code
          fi
          touch docs/build/html/.nojekyll

      - name: Deploy to gihub pages
        # only run when PR is merged
        if: github.event.pull_request.merged
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: docs/build/html
          CLEAN: true
          SINGLE_COMMIT: true
