---
name: CI-docs
# Build and deploy docs to gh-pages

on:
  pull_request:
    branches: [main]
    types: [opened, closed, synchronize]

jobs:

  docs:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.10.4
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.4

            #      - name: Install conda dependencies
            #        uses: mamba-org/setup-micromamba@v1
            #        with:
            #          create-args: python=3.10
            #          init-shell: bash

      - name: Python dependencies
        run: |
          python --version
          pip install '.[doc]'

      - name: Build docs
        shell: bash -l {0}
        run: |
          make -C docs/ html
          touch docs/build/html/.nojekyll

      - name: Deploy to gihub pages
        # only run when PR is merged
        if: github.event.pull_request.merged
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: docs/build/html
          CLEAN: true
          SINGLE_COMMIT: true
