---
name: Software updates
# Run regularly to update software dependencies

on:
  # Run on the first day of each month at midnight
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  pre-commit-auto-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install packages (as pre-commit is running on all files after autoupdate)
        run: |
          pip install -e '.[tests,dev,doc]'
          pip install pylint

      - uses: browniebroke/pre-commit-autoupdate-action@main

      - uses: peter-evans/create-pull-request@v7
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/pre-commit-hooks
          title: Update pre-commit hooks
          commit-message: "chore: update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.
