name: CI-schema-validation

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'simtools/schemas/model_parameters/*'
      - 'tests/integration_tests/config/*'

jobs:

  schema-validation:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -leo pipefail {0}

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
        run: |
          pip install -e .

      - name: Model parameter schema validation
        run: |
          for file in simtools/schemas/model_parameters/*.yml; do
            echo "Testing schema $file"
            python simtools/applications/validate_file_using_schema.py \
            --file_name "$file" \
            --schema model_parameter_and_data_schema.metaschema.yml \
            --data_type "schema" \
            --log_level DEBUG
          done

      - name: Integration config file validation
        run: |
          for file in tests/integration_tests/config/*.yml; do
            echo "Testing config file $file"
            python simtools/applications/validate_file_using_schema.py \
            --file_name "$file" \
            --schema integration_tests_config.metaschema.yml \
            --data_type "schema" \
            --log_level DEBUG
          done

