---
name: CI-unittests
# Unit tests (includes CTAO-SonarQube)

on:
  workflow_dispatch:
    inputs:
      simulation_model_branch:
        description: 'Simulation model branch'
        required: false
        type: string
        default: 'main'
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - 'docs/**'
      - 'tests/integration_tests/**'
  schedule:
    - cron: "0 0 * * *"
  release:
    types: [published]

jobs:
  unit_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            python-version: "3.12"
            install-method: pip

          - os: ubuntu-latest
            python-version: "3.13"
            install-method: mamba
            extra-args: ["sonarqube", "random-order"]

          - os: ubuntu-latest
            python-version: "3.13"
            install-method: pip

    defaults:
      run:
        shell: bash -leo pipefail {0}

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Prepare mamba installation
        if: matrix.install-method == 'mamba'
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
        run: |
          sed -i -e "s/- python=.*/- python=$PYTHON_VERSION/g" environment.yml

      - name: Install mamba dependencies
        if: matrix.install-method == 'mamba'
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          create-args: python=${{ matrix.python-version }}
          init-shell: bash

      - name: Python setup
        if: matrix.install-method == 'pip'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          check-latest: true

      - name: Python dependencies
        run: |
          pip install -e '.[tests]'

      - name: Extract SIMTOOLS_DB_SIMULATION_MODEL
        run: |
          SIMTOOLS_DB_SIMULATION_MODEL_VERSION=$(grep 'SIMTOOLS_DB_SIMULATION_MODEL_VERSION=' .env_template | cut -d '=' -f2- | tr -d '"')
          SIMTOOLS_DB_SIMULATION_MODEL=$(grep 'SIMTOOLS_DB_SIMULATION_MODEL=' .env_template | cut -d '=' -f2- | tr -d '"')
          SIMTOOLS_DB_SIMULATION_MODEL="${SIMTOOLS_DB_SIMULATION_MODEL//\'/}"
          echo "SIMTOOLS_DB_SIMULATION_MODEL=$SIMTOOLS_DB_SIMULATION_MODEL" >> "$GITHUB_ENV"
          echo "SIMTOOLS_DB_SIMULATION_MODEL_VERSION=$SIMTOOLS_DB_SIMULATION_MODEL_VERSION" >> "$GITHUB_ENV"
          echo "Simulation model set to: $SIMTOOLS_DB_SIMULATION_MODEL version $SIMTOOLS_DB_SIMULATION_MODEL_VERSION"

      - name: Unit tests
        shell: bash -l {0}
        env:
          SIMTOOLS_DB_SIMULATION_MODEL: ${{ env.SIMTOOLS_DB_SIMULATION_MODEL }}
          SIMTOOLS_DB_SIMULATION_MODEL_VERSION: ${{ env.SIMTOOLS_DB_SIMULATION_MODEL_VERSION }}
        run: |
          pytest --durations=10 --color=yes -n 4 --dist loadscope \
            --cov=simtools --cov-report=xml --retries 2 --retry-delay 5

      # CTAO-DPPS-SonarQube
      - uses: SonarSource/sonarqube-scan-action@v7.0.0
        if: contains(matrix.extra-args, 'sonarqube')
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=gammasim_simtools_0d23837b-8b2d-4e54-9a98-2f1bde681f14
            -Dsonar.host.url=https://sonar-ctao.zeuthen.desy.de
            -Dsonar.qualitygate.wait=true
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.python.version=${{ matrix.python-version }}
            -Dsonar.exclusions=**/docs/**,src/simtools/applications/**,**/__init__.py
            -Dsonar.coverage.exclusions=**/tests/**,src/simtools/applications/**

      - name: Random order
        if: github.event_name == 'schedule' && contains(matrix.extra-args, 'random-order')
        shell: bash -l {0}
        env:
          SIMTOOLS_DB_SIMULATION_MODEL: ${{ env.SIMTOOLS_DB_SIMULATION_MODEL }}
          SIMTOOLS_DB_SIMULATION_MODEL_VERSION: ${{ env.SIMTOOLS_DB_SIMULATION_MODEL_VERSION }}
        run: |
          pytest --color=yes -n 4 --dist loadscope --count 5 --random-order \
           --retries 2 --retry-delay 5
